body {
  text-align: center;
  padding:0;
}
/* #cvx-game {
  border:200px solid red;
} */
body h1 {
  font-size: 30px;
  text-transform: uppercase;
}

body button {
  font-size: 20px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  width:200px;
  height:50px;
}

/* .index-page img {
  width:300px;
  height:350px;
  margin-bottom: 20px;
} */

/* .index-page div {
  border: 1px;
  border-radius: 5px;
  background-color: #20B2AA;
  color: white;
  width: 200px;
  height: 80px;
  font-size: 20px;
  margin-left: 550px;
  margin-top: 40px;
} */

div a {
  padding-top: 60px;
  
}

.hide span, .hide button {
  display: inline-block;
}

.imgPoussette img{
  width:200px;
  height:200px;
  animation: poussette 10s infinite;  
}

.baby{
  width:200px;
  height:250px;
  margin-bottom: 20px;

}

/* .baby:hover{
  width:250px;
  height:300px;
  transition:width 2s linear, height 2s linear;
} */

@keyframes poussette {
  0% {
    margin-left: 60%;
    width: 20%;
  }

  100% {
    margin-right: 200%;
    width: 20%;
  }
}